@using ACNHBugGuide.Models
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>ACNH Bug Guide</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Location</th>
        <th>Time</th>
    </tr>
    
    @foreach (var bug in Model.Bugs.OrderBy(x => x.Name.NameUSen))
    {
        <tr>
            <td>@bug.Name.NameUSen</td>
            <td><img src="@bug.IconUri" alt="@bug.Name.NameUSen" style="height: 64px"/></td>
            <td>@bug.Price</td>
            <td>@bug.Availability.Location</td>
            <td>@bug.Availability.Time</td>
            <td>
                <a href="/bug/@bug.FileName">Info</a>
            </td>
        </tr>
    }
</table> 