@model SearchViewModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search Results</h1>
<h2>@Model.Results.Count Results For "@Model.Query"</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Time</th>
    </tr>
    
    @foreach (var bug in Model.Results.OrderBy(x => x.Name.NameUSen))
    {
        <tr>
            <td>@bug.Name.NameUSen</td>
            <td><img src="@bug.IconUri" alt="@bug.Name.NameUSen" style="height: 64px"/></td>
            <td>@bug.Price</td>
            <td>@bug.Availability.Time</td>
            <td>
                <a href="/bug/@bug.FileName">Info</a>
            </td>
        </tr>
    }
</table> 
