@model List<ACNHBugGuide.Models.Bug>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Rarity</th>
    </tr>

    @foreach (var bug in Model.OrderBy(x => x.Name.NameUSen))
    {
        <tr>
            <td>@bug.Name.NameUSen.ToUpper()</td>
            <td>
                <img src="@bug.IconUri" alt="@bug.Name.NameUSen.ToUpper()" style="height: 64px"/>
            </td>
            <td>@bug.Price</td>
            <td>@bug.Availability.Rarity</td>
            <td>
                <a href="/bug/@bug.FileName" class="btn info-btn">
                    <i class="fa-solid fa-info" style="color: #ffffff;"></i>
                </a>
            </td>
        </tr>
    }
</table>